:root{
    --white : #fff;
    --gray : #444; 
    --light-gray : #656565; 
    --blue: #1687E0;
    --dark-green: #154A19;
    --light-green: #29942E;
    --light-red : #D6271A;
    --dark-red : #A00E0E;
}